
#main {
    font-family: 'Zeyada', cursive;  
    /*font-family: 'TT2020BaseRegular'; */
    font-size:1.35em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.25em
    display: block; /*delete these 4 lines if problems */
    position: relative;
    word-break: break-word;
    z-index: 999999;
    background-color: #FFF1E5;
}
#posts {
  background-image: url("/img/paper.jpg");
  background-size: 750px;
  margin: auto !important;
  text-align: center;
  width: 750px;
}
a {
  color: black;
}
body {
  background-color: #FFF1E5; /* change if you want to make a header for the page or something */

}
