#note {

  background-color: #E4D4C8;
  font-size: 1.5em;
  color: black;
  font-family: 'Playfair Display', serif;
}
#notetext {
  text-align: left;
  margin-left: 10px;

}
#main {

    background-image: url(/img/paper2.png);
    background-repeat: repeat;
}

#body {
  font-family: 'TT2020BaseRegular';
  font-size:1.35em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.25em
}
